// -------------------------------------
//   Settings
// -------------------------------------
// ----- @Font-Face Declarations, Variables
// -------------------------------------

// -------------------------------------
//   @font-face
// -------------------------------------

@font-face {
    font-family: 'tombotsregular';
    src: url('../fonts/tombots-webfont.eot');
    src: url('../fonts/tombots-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tombots-webfont.woff') format('woff'),
         url('../fonts/tombots-webfont.ttf') format('truetype'),
         url('../fonts/tombots-webfont.svg#tombotsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'socicon';
    src: url('../fonts/socicon-webfont.eot');
    src: url('../fonts/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socicon-webfont.woff') format('woff'),
         url('../fonts/socicon-webfont.ttf') format('truetype'),
         url('../fonts/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vollkornsemibold_italic';
    src: url('../fonts/vollkorn-semibolditalic-webfont.eot');
    src: url('../fonts/vollkorn-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vollkorn-semibolditalic-webfont.woff') format('woff'),
         url('../fonts/vollkorn-semibolditalic-webfont.ttf') format('truetype'),
         url('../fonts/vollkorn-semibolditalic-webfont.svg#vollkornsemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'vollkornsemibold';
    src: url('../fonts/vollkorn-semibold-webfont.eot');
    src: url('../fonts/vollkorn-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vollkorn-semibold-webfont.woff') format('woff'),
         url('../fonts/vollkorn-semibold-webfont.ttf') format('truetype'),
         url('../fonts/vollkorn-semibold-webfont.svg#vollkornsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'vollkornregular';
    src: url('../fonts/vollkorn-regular-webfont.eot');
    src: url('../fonts/vollkorn-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vollkorn-regular-webfont.woff') format('woff'),
         url('../fonts/vollkorn-regular-webfont.ttf') format('truetype'),
         url('../fonts/vollkorn-regular-webfont.svg#vollkornregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'vollkornmedium_italic';
    src: url('../fonts/vollkorn-mediumitalic-webfont.eot');
    src: url('../fonts/vollkorn-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vollkorn-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/vollkorn-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/vollkorn-mediumitalic-webfont.svg#vollkornmedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'vollkornmedium';
    src: url('../fonts/vollkorn-medium-webfont.eot');
    src: url('../fonts/vollkorn-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vollkorn-medium-webfont.woff') format('woff'),
         url('../fonts/vollkorn-medium-webfont.ttf') format('truetype'),
         url('../fonts/vollkorn-medium-webfont.svg#vollkornmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'vollkornitalic';
    src: url('../fonts/vollkorn-italic-webfont.eot');
    src: url('../fonts/vollkorn-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vollkorn-italic-webfont.woff') format('woff'),
         url('../fonts/vollkorn-italic-webfont.ttf') format('truetype'),
         url('../fonts/vollkorn-italic-webfont.svg#vollkornitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'vollkornbold_italic';
    src: url('../fonts/vollkorn-bolditalic-webfont.eot');
    src: url('../fonts/vollkorn-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vollkorn-bolditalic-webfont.woff') format('woff'),
         url('../fonts/vollkorn-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/vollkorn-bolditalic-webfont.svg#vollkornbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'vollkornbold';
    src: url('../fonts/vollkorn-bold-webfont.eot');
    src: url('../fonts/vollkorn-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vollkorn-bold-webfont.woff') format('woff'),
         url('../fonts/vollkorn-bold-webfont.ttf') format('truetype'),
         url('../fonts/vollkorn-bold-webfont.svg#vollkornbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


// -------------------------------------
//   Variables
// -------------------------------------

// ----- Colors ----- //

$muteAqua: #1abc9c;
$aqua: #16a085;
$muteGreen: #2ecc71;
$green: #27ae60;
$muteBlue: #3498db;
$blue: #2980b9;
$mutePurple: #9b59b6;
$purple: #8e44ad;
$muteNavy: #34495e;
$navy: #2c3e50;
$yellow: #f1c40f;
$orange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
$brightRed: #e74c3c;
$deepRed: #c0392b;
$clouds: #ecf0f1;
$cream: #fafafa;
$silver: #bdc3c7;
$muteGrey: #95a5a6;
$grey: #7f8c8d;
$charcoal: #444444;

// ----- Type ----- //

// ----- Grid ----- //


